numpy
scipy
pandas
scikit-learn
Cython
requests
nltk
sklearn-crfsuite
xgboost
spacy
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_core_sci_sm-0.2.4.tar.gz
jsonschema
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
pymongo
psycopg2
line_profiler
pandas-sets

#visualization
matplotlib
seaborn
altair
plotly

#https://en.wikipedia.org/wiki/Apache_Parquet - pd.read_parquet
fastparquet
#https://en.wikipedia.org/wiki/Hierarchical_Data_Format
h5py
